.ReminderList{
   width: 100%;
    background:#009865;
    box-shadow: 10px 10px 40px rgba(0,0,0,0.2);
    border-radius: 0 0 20px 20px;
    overflow: hidden;
    padding: 25px 30px;
    color: #FFF;

}

.ReminderList .header{
        display: flex;
        align-items: center;
        justify-content: space-between;
  
}
.ReminderList .list-body {
    margin-top: 2rem;
    min-height: 150px;
    height: 150px;
    overflow: auto;
}
.ReminderList .list-body > ul{

    margin-left: -20px;

}

.ReminderList .list-body > ul p{

   margin-bottom: 2px;

}

.form-inline {
    display: flex;
    align-items: center;
}
.px-1{
    padding: 4px 4px;
}