.App {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 80px;
  background-color: #03254c;
  height: 100vh;
} 
.App * {
  font-family: 'Open Sans', sans-serif;
}

.mb-2{
  margin-bottom: 1rem;
}

.my-2{
  margin-top: 2rem;
  margin-bottom: 2rem;
}
.cursor-pointer{
  cursor: pointer;
}
@media(max-width: 768px){
   .App {
  padding: 20px;
} 
}