.App {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 80px;
  background-color: #03254c;
  height: 100vh;
} 

.App * {
  font-family: 'Open Sans', sans-serif;
}
.ant-modal-content{
  border-radius: 16px !important;
}
.ant-modal-header{
  border-radius: 16px 16px 0 0 !important;
}
.mb-2{
  margin-bottom: 1rem;
}
input[type='text']{
  border-radius: 16px;
}
button{
  border-radius: 16px !important;

}
.my-2{
  margin-top: 2rem;
  margin-bottom: 2rem;
}
.cursor-pointer{
  cursor: pointer;
}
.lead{
  font-size: 18px;
}

.d-flex{
  display: flex;
} .flex-row{
  flex-direction: row;
  } .align-items-center{
  align-items: center;
      }


@media(max-width: 768px){
   .App {
  padding: 20px;
  height: 100%;
} 
}